 <table>
  <tr>
    <th> 이름 </th>
    <th> email </th>
    <th> 대여 중인 책</th>
    <th> 반납일 </th>
  </tr>
 <tr>
    <% @users.each do |user| %>
      <td> <%= user.name %> </td>
      <td> <%= user.email %> </td>
      <% @books[user].each do |book| %>
        <th> <%= book.title %> </th>
        <th> <%= book.checkouts.last.duedate %> </th>
      <% end %>
    <% end %>
 </tr>
</table>
