 <table>
  <tr>
    <th> name </th>
    <th> email </th>
    <th> lending book</th>
    <th> return due </th>
  </tr>
 <tr>
    <% @users.each do |user| %>
      <td> <%= user.name %> </td>
      <td> <%= user.email %> </td>
      <% @books[user].each do |book| %>
        <th> <%= book.title %> </th>
        <th> <%= book.checkouts.last.duedate %> </th>
      <% end %>
    <% end %>
 </tr>
</table>
