<div class = "rank">
  <h1> rank </h1>
  <table class= "table">
    <tr>
    <th> 순위 </th>
    <th> 이름 </th>
    <th> 읽은 권수 </th>
  </tr>
  <% order = 1 %>
  <% @users.each do |u| %>
    <tr>
      <td> <%= order %> </td>
      <td> <%= u.name %> </td>
      <td> <%= u.point %> </td>
    </tr>
    <% order = order + 1 %>
  <% end %>
</table>
</div>
