<div class = "rank">
  <h1> rank </h1>
  <table class= "table">
    <tr>
    <th> 순위 </th>
    <th> 이름 </th>
    <th> 읽은 권수 </th>
  </tr>
  <% @users.each_with_index do |u, order| %>
    <tr>
      <td> <%= order + 1 %> </td>
      <td> <%= u.name %> </td>
      <td> <%= u.point %> </td>
    </tr>
  <% end %>
</table>
</div>
