<div id="mybooklist">
<p class="mybooklist"> My lend history </th>
<div id="booktop">
  <tr>
    <th class="order booktop">order</th>
    <th class="title booktop">title</th>
    <th class="author booktop">author</th>
    <th class="lendDate booktop">lendDate</th>
    <th class="dueDate booktop">returnDueDate</th>
    <th class="prolong booktop">prolong</th>
    <th class="return booktop">return</th>
  </tr>
</div>

<% @curr_checkouts.each do |c| %>
  <%= render 'current', :checkout => c %>
<% end %>

</div>
<br>

<p class="prevlist">Previous lending history</th>
<tr id="prevlist">
  <div id="booktop">
    <th class="order booktop">order</th>
    <th class="title booktop">title</th>
    <th class="author booktop">author</th>
    <th class="lendDate booktop">lendDate</th>
    <th class="returnDate booktop">returnDate</th>
  </div>
  <% @prev_checkouts.each_with_index do |c, i| %>
    <%= render 'prev', :checkout => c, :index => i+1 %>
  <% end %>
</tr>
