<div class="user-show">
  <p>나의 대출 현황</p>
  <table class="table">
    <tr>
      <th>순번</th>
      <th>책제목</th>
      <th>저자</th>
      <th>대출일</th>
      <th>반납예정일</th>
      <th>연장</th>
      <th>반납</th>
    </tr>

    <% @curr_checkouts.each do |c| %>
      <%= render 'current', :checkout => c %>
    <% end %>

  </table>
  <br>

  <p>이전 대출 내역</p>
  <table class="table">
    <tr id="prevlist">
      <th>순번</th>
      <th>책제목</th>
      <th>저자</th>
      <th>대출일</th>
      <th>반납일</th>
      <% @prev_checkouts.each_with_index do |c, i| %>
        <%= render 'prev', :checkout => c, :index => i+1 %>
      <% end %>
    </tr>
  </table>
</div>
