
<div class = "new-book">
  <h1>New Book</h1>
  <% if @incorrectISBN %>
    <h4> 존재하지 않는 도서입니다. </h4> <br/>
  <% end %>
  <% if @isRegistered %>
    <!--     <h4> 이미 등록된 도서입니다.</h4> <br/> -->
  <% end %>

  <%= render 'form' %>
  <% if @hasPrevious %>
    <h4><%=@book_title %>  이 추가되었습니다 </h4>
  <% end %>

  <%= link_to 'Back', books_path %>
</div>
