/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
* {
  margin:0;
  font-size:19px;
  font-family: 'Patrick Hand SC';
  vertical-align:middle;
  line-height: 21px;
}

body {
  margin-top:0px;
  background-color:#f9f9f7;
  margin-left:auto;
  margin-right:auto;
  width:700px;
}

img.main-logo {
  width: 400px;
  display: block;
  margin-top: 30px; 
  margin-left: auto;
  margin-right: auto;
}

.top-nav {
float: right;
font-size: 14px;
}
a:link{
  color:#646464;
  text-decoration:none;
}
a:visited {
  text-decoration:none;
}
a:hover{
  color:#FF1493;
}

.main-page{
  margin-top: 20px;
  font-size: 20px;
  text-align: center;
}

.footer {
  float: left;
  position: absolute;
  font-size: 7px;
  bottom: 7px;
}
.table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 700px;
}
.table th{
  background-color:#FA3273;
} 
.table td, .table th{
  text-align: center;
}
.table tbody td {
  font-size:13px;
}

.user-list .table tbody td {
 font-size:17px;
}
.pages{
  text-align: center;
}

.search{
  font-size:13px; 
  text-align: center;
  margin-top: 20px;
}
.search .searchbox, #book_isbn {
  height: 25px;
}
.new-book{
  text-align: center;
}
