/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
* {
  margin:0;
  font-size:19px;
  font-family: 'Patrick Hand SC';
  vertical-align:middle;
  line-height: 21px;
}

html, body{
  height: 100%;
}
body {
  margin-top:0px;
  background-color:#f9f9f7;
  margin-left:auto;
  margin-right:auto;
  width:700px;
}
#wrap {
  min-height: 95%;
  height: auto ;
  margin: 0 auto -30px;
  padding: 0 0 30px;
}
.footer {
  float: left;
  font-size: 7px;
  height: 30px;
}
img.main-logo {
  width: 400px;
  display: block;
  margin-top: 30px; 
  margin-left: auto;
  margin-right: auto;
}

.top-nav {
float: right;
font-size: 14px;
}
a {
  text-decoration:none;
  color: #72002E;
}
a.blink {
  color:#FF1493;
}
a:hover {
  color:#FF1493;
}
a.isSelected {
  color:blue;
}

.main-page{
  margin-top: 20px;
  font-size: 20px;
  text-align: center;
}
.table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 700px;
}
.table .td1, .table .th1{
  width: 14%;
}
.table .td2, .table .th2{
  width: 35%;
}
.table .td3, .table .th3{
  width: 23%;
}
.table .td4, .table .th4{
  width: 12%;
}
.table .td5, .table .th5{
  width: 16%;
}
.table th{
  background-color:#FA3273;
} 
.table td, .table th{
  text-align: center;
}
.table tbody td {
  font-size:13px;
}

.user-list .table tbody td {
 font-size:17px;
}
.pages{
  text-align: center;
}
.pageNum {
  color:#FA3273;
}
.search{
  text-align: center;
  margin-top: 30px;
}
.search #search, #book_isbn {
  padding: 2px;
  font-size: 16px;

}
.new-book{
  text-align: center;
}

.book-content {
  margin-top: 15px;
  text-align: center;
}

.book-content p{
  font-size: 13px;
}

.description {
  margin-top: 15px;
}

div.hide {
  position: fixed;
  top: -100%;
}
